/* Importar fonte */
@font-face {
  font-family: fonteEcoVerde;
  src: url(GREENSEA.otf);
}

@font-face {
  font-family: fonteSobre;
  src: url(Winter_Insight.otf);
}


/* Padronizar tags */
*{
  font: 14px sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Topo */
header{
  overflow: hidden;
  background-color: black;
}

header h1{
  float: left;
  color: white;
  font-size: 32px;
  margin: 15px;
  font-family: fonteEcoVerde;
}

header nav{
  float: right;
}

header a{
  color: white;
  text-decoration: none;
  padding: 25px 15px;
  display: inline-block;
  transition: background-color 0.5s;
}

header a:hover{
  background-color: rgb(2, 109, 2);
}

/* Banner */
.banner{
  background-image: url(imagens/fundo1.jpg);
  height: 700px;
  background-position: center center;
}

.banner h1{
  font-size: 50px;
  text-align: center;
  padding-top: 220px;
  font-weight: bold;
  color:white;
  text-shadow: 5px 5px 10px black;
}

/* Conteúdo principal */
main{
  
}

.sobre{
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
}

.sobre h1{
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.sobre img{
  width: 500px;
  float: left;
}

.sobre p{
  width: 500px;
  float: right;
  margin-top: 20px;
  text-align: justify;
}

/* Imagens */
.imagens{
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
}
.imagens h1{
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.imagens img{
  float: left;
  width: 300px;
  height: 300px;
  border: 10px double rgb(113, 114, 113);
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}

footer{
  background-color: black;
}

footer p{
  color: white;
  text-align: center;
  padding: 10px;
}

.sobreNos img{
  width: 510px;
  float: left;
}

.sobreNos p{
  width: 430px;
  font-size: 30px;
  float: right;
  margin-top: 63px;
  font-family: fonteSobre;
  margin-right: 25px;
}

.sobreNos h1{
  font-size: 58px;
  margin-top: 17px;
  color: rgb(207, 30, 30);
  text-align: center;
  font-family: fonteSobre;
}

.sobreNos{
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
}

.quemSomos img{
  width: 600px;
  float: right;
  margin-top: 75px;
  margin-right: 75px;
}

.quemSomos{
  overflow: hidden;
  background-color: rgb(245, 244, 244);
}

.missao{
  background-color: rgb(250, 249, 249);
  width: 450px;
  margin-top: 75px;
  margin-left: 100px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgb(209, 208, 208);
}

.valores,
.visao{
  background-color: rgb(250, 249, 249);
  width: 450px;
  margin-left: 100px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgb(209, 208, 208);
}

div h1{
  font-size: 25px;
  padding-left: 15px;
  padding-top: 15px;
}

div p{
  padding: 15px;
  color: rgb(112, 110, 110);
  font-size: 17px;
}